<h1>Polling by RSKK</h1>

<p>
    <%= @user.name %>,
</p>

<p>
Welcome to Polling by RSKK!<br>
Click the link below to activate your account and start answering polls.
</p>

<%= link_to "Activate", edit_account_activation_url(@user.activation_token,
                                                    email: @user.email) %>