/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
body {
    font-family: Arial, sans-serif;
    font-size: 1em;
    margin: 0 auto;
    background: #333333;

    background-image: url("../assets/texture2.png"); 
    background-attachment: fixed;
    background-repeat: repeat-x repeat-y;
}

h2 {
    margin: 4px 0px;
}

h3 {
    margin: 4px 0px;
}

a, a:hover {
    color: #333333;
    text-decoration: none;
    border-bottom: none;
}

a:hover {
    color: #ff0000;
    background-color: transparent;
}

#notice {
    color: #006633;
}

#error {
    color: #AA0000;
}

.message-wrapper textarea {
    width: auto;
}

/*******************
       HEADER
********************/

header {
    width: 100%;
    background-color: #fff;
    color: #666;
    padding: 0.8em 0;
    position: absolute;
    top: 0;
    left: 0;

    -webkit-box-shadow: inset 0px 0px 15px 0 rgba(0,0,0,0.5);
    -moz-box-shadow: inset 0px 0px 15px 0 rgba(0,0,0,0.5);
    box-shadow: 0 0 15px 0 rgba(0,0,0,0.5);
}

header span, header span a, header span a:hover {
    color: #ff0000;
    text-transform: uppercase;
    letter-spacing: 0.10em;
    font-weight: bold;
    background-color: transparent;
    font-size: 1.5em;
    padding-top: 0.5em;
    display: inline-block;
}

header nav {
    float: right;
}

header nav ul, header nav ul a {
    list-style-type: none;
    color: #ff0000;
    font-size: 1em;
    letter-spacing: 0.0em;
    font-weight: normal;
    text-decoration: none;
    padding: 0 0.5em;
}

header nav ul li {
    display: inline;
    padding: 0.5em 0.15em;
}

header nav ul li a {
    border: solid 2px #ff0000;
    color: #ff0000;
    padding: 0.5em 1em;
	
	-webkit-transition: background-color 0.5s;
	transition: background-color 0.5s;
}

header nav ul li a:hover {
    background-color: #ff0000;
    border: solid 2px #ff0000;
    color: #fff;
    text-decoration: none;
    padding: 0.5em 1em;
	
	-webkit-transition: background-color 0.5s;
	transition: background-color 0.5s;

}

/*******************
        FORM
********************/

form {
    display: block;
    margin-bottom: 1em;
}

textarea {
	font-family: inherit;
}

input[type="text"], input[type="password"], 
input[type="email"], textarea, select {
    background-color: #fff;
    color: #000;
    border: solid 2px #000;
    padding: 0.7em;
    font-size: 1em;
    display: block;
    margin: 0.5em 0 1.5em;
    width: 200px;
}

input[type="submit"] {
    background-color: #ff0000;
    border: solid 2px #ff0000;
    color: #fff;
    text-decoration: none;
    padding: 0.5em 1em;
	
	-webkit-transition: background-color 0.5s;
	transition: background-color 0.5s;
}

input[type="submit"]:hover {
	background-color: #333;
    border: solid 2px #333;
    color: #fff;

	-webkit-transition: background-color 0.5s;
	transition: background-color 0.5s;
}

/*******************
      BUTTONS
********************/

button {
    background-color: transparent;
    border: solid 1px #333;
    color: #333;
    text-decoration: none;
    padding: 0.5em 1em;
	
	-webkit-transition: background-color 0.5s;
	transition: background-color 0.5s;
}

button:hover {
	background-color: #333;
    border: solid 1px #333;
    color: #fff;
	
	-webkit-transition: background-color 0.5s;
	transition: background-color 0.5s;
}

/*******************
  WRAPPER & SECTION
********************/

section {
    margin: 0 auto;
    padding: 1.5rem 0;
}

.wrapper {
    margin: 0 auto;
    max-width: 60rem;
}

/*******************
    PROFILE PAGE
********************/

#userpage-main {
    overflow: hidden;
    background: rgba(255, 255, 225, 0.5);
    padding: 1em;
}

.userpage-main-latest {

}

.userpage-main-latest-item {

}


#profile-header {
	background-color: #fff;
	padding: 1.5em;
}

#profile-icon {
	display: inline;
	padding-right: 2em;
}

#profile-name {
	display: inline;
	font-weight: bold;
	font-size: 1.5em;
	vertical-align: top;
}

/*******************
	   POLLS
********************/

.poll-list {
	list-style-type: none;
	padding-left: 0;
}

.poll-vote-table {
	vertical-align: top;
}

.poll-vote-option {
	display: inline-block;
	border-collapse: collapse;
	/* border-radius: 5px; */
	background-color: #fff;
	border-style: none;
	text-align: center;
	padding: 1em 0.5em;
	margin: 1em 0.3em;
	vertical-align: top;
	
	-webkit-transition: background-color 0.3s;
	transition: background-color 0.3s;
}

.poll-vote-option:hover {
	background-color: #eaeaea;
	
	-webkit-transition: background-color 0.3s;
	transition: background-color 0.3s;
}

.poll-vote-option td {
	width: 12em;
}



